<div id="main">
  <div class="row">
    <div class="col-md-6" id="head">
      <h1>FPKKL</h1>
    </div>
    <div class="col-md-6">
      <h2>Forum Perpustakaan Khusus Kementrian Lembaga</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" id="navigate">
      <a href="<%= new_document_path %>" class="btn btn-success"> Add Document</a>
      <a href="<%= documents_path %>" class="btn btn-info"> List Document</a>
    </div>
  </div>
</div>