<h1><%= @document.title %></h1>
<p><%= @document.content %></p>
<p>
	
	<a href="<%= documents_path %>" class="btn btn-success"> <%= fa_icon "angle-left" %> Back </a>
	<a href="<%= edit_document_path %>" class="btn btn-info"> <%= fa_icon "edit" %> Edit </a>
</p>

