<div class="row">
	<div class="col-md-6">
		<%= form_for @document, role:"form" do |f| %>

		<% if @document.errors.any? %>
	  <div id="error_explanation">
	  	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	    <h2><%= pluralize(@document.errors.count, "error") %> prohibited
	      this document from being saved:</h2>
	    <ul>
	    <% @document.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	    </ul>
	  </div>
	  <% end %>
		
		  <div class="form-group">
		    <%= f.label :title %>
		    <%= f.text_field :title, class:"form-control", placeholder:"document title" %>
		  </div>
		  <div class="form-group">
		    <%= f.label :content %>
		    <%= f.text_area :content, class:"form-control txt", placeholder:"document content", rows:"10" %>
		  </div>

	 	  <script type="text/javascript">
			  $(document).ready(function(){

			    $('.txt').each(function(i, elem) {
			      $(elem).wysihtml5();
			    });

			  })
			</script>
		  
		  
		  <%= f.submit :submit, class:"btn btn-success" %>
			<a href="<%= documents_path %>" class="btn btn-info"><%= fa_icon "angle-left" %> Back</a>
		<% end %>
	</div>
	<div class="col-md-6">
		Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</div>
</div>