<h1>
  <%= fa_icon "book" %> Documents Available
  <a href="<%= new_document_path %>" class="btn btn-success pull-right"> Add Document</a>
</h1>
<table class="table table-striped">
  <th>Title</th>
  <th>Content</th>
  <th>Action</th>
  <%  @documents.each do |d| %>
  	<tr>
  		<td><%= d.title %></td>
  		<td><%= truncate(d.content, :length => 80) %></td>
  		<td>
  			<%= link_to 'Show', document_path(d) %> | 
        <%= link_to 'Edit', edit_document_path(d) %> |
        <%= link_to 'Destroy', document_path(d),
                    method: :delete, data: { confirm: 'Are you sure?' } %>
  		</td>
  	</tr>

  <% end %>

</table>
<%= will_paginate @documents %>