// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$top: 150px;
$blue: #31708f;
$white: #fff;

#main{
	margin-top: $top;
	
	
	color: $blue;

	h1{
		font-weight:bolder;
		line-height: 65px;
		font-size: 75px;
		text-align:center;
		border-right: 2px solid $blue;
	}

	#navigate{
		margin-top:30px;
		text-align:center;
	}
}