// Place all the styles related to the documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$red: #a94442;

#error_explanation{
	border-left: 10px solid $red;
	padding-left: 10px;
}